.club-card {
    border: 1px solid #ffe4c385;
    border-radius: 6px;
    padding: 1rem;
    max-width: 450px;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
    background-color: #f2d4b1d1 !important
}

.club-card:hover {
    transform: scale(1.01);
    box-shadow: '0px 0px 25px  rgba(37, 37, 37, 0.6)';
}

.club-card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.club-card-body {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}