/* .posts-page {
    margin: 0px auto;
    width: 800px;
} */

.post {
    margin: 0px auto;
    width: 600px;
}

.brown-box {
    width: 100%;
    background: #f3efe7;
    font-size: 15px;
    padding: 5px;
}

.date-time {
    float: right;
}

.post-body {
    line-height: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 8px;
    margin-right: 5px;
}

.text-area {
    height: 140px;
    width: 400px;
    padding-top: 4px;
    margin: 0 auto;
}

.post-button {
    margin-top: 2px;
}

.delete-icon {
    float: right;
}

.form-div {
    text-align: center;
    margin-bottom: 20px;
}

.link:hover {
    text-decoration: underline;
}

.input-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-bottom: 2px;
}