html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spots-container {
  display: flex;
  height: calc(100vh - 70px);
}

.controls {
  width: 25%;
  padding: 1rem;
  background: #14161a;
  color: #fff
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: calc(100vh - 70px);
}

.spots-map {
  width: 80%;
  height: calc(100vh - 70px);
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}